body {
  background-color: rgb(255, 255, 255);
  font: normal 2.563em/1.38 LeagueSpartan-Bold;
  color: rgb(0, 0, 0);
}

.email {
  display: block;
  position: relative;
  float: left;
  clear: both;
  z-index: 4;
  width: 25%;
  height: 50px;
  margin: 32px 0 0 10%;
  padding: 0 10px;
  background-color: rgb(242, 242, 242);
  font-family: Montserrat;
  font-size: 0.488em;
  font-weight: 400;
  color: rgba(0, 0, 0, 0.66);
}

.image {
  display: block;
  float: left;
  height: auto;
  overflow: hidden;
}

.submit {
  display: block;
  position: relative;
  float: left;
  z-index: 5;
  width: 25%;
  height: 50px;
  margin-top: 33px;
  border-radius: 3px;
  background-color: rgb(0, 0, 0);
  font-family: Montserrat;
  font-size: 0.488em;
  font-weight: 400;
  text-align: center;
  color: rgb(255, 255, 255);
}

.text {
  float: left;
  clear: both;
  margin-left: 10%;
  color: rgb(0, 0, 0);
}

.image-1 {
  width: 266px;
  margin: 28px 0 0 4%;
}

.image-2 {
  position: relative;
  clear: both;
  z-index: 6;
  width: 1201px;
  margin: 101px 0 0 -0.08333%;
}

.image-3 {
  position: relative;
  clear: both;
  z-index: 7;
  width: 154px;
  margin: -299px 0 0 45.5%;
}

.text-1 {
  margin-top: 49px;
  font-size: 1em;
}

.text-2 {
  margin-top: 7px;
  font-size: 1em;
}

.text-3 {
  margin-top: 14px;
  font-family: Unna-Regular;
  font-size: 0.732em;
}

@media(max-width: 676px) {
  body {
    font-size: 1.625em;
  }

  .email {
    position: relative;
    z-index: 4;
    width: 32.3964497041%;
    margin-top: 21px;
    margin-left: 10.05686%;
    font-size: 0.577em;
  }

  .image {
    height: auto;
  }

  .submit {
    position: relative;
    clear: both;
    z-index: 5;
    width: 32.4%;
    margin-top: -50px;
    margin-left: 42.38859%;
    font-size: 0.577em;
  }

  .text {
    margin-left: 9.99908%;
  }

  .image-1 {
    margin-top: 27px;
    margin-left: 30.39941%;
  }

  .image-2 {
    position: relative;
    clear: none;
    z-index: 6;
    width: 676px;
    margin-top: 32px;
    margin-left: 0;
  }

  .image-3 {
    position: relative;
    z-index: 7;
    width: 105px;
    margin-top: -179px;
    margin-left: 43.19989%;
  }

  .text-1 {
    margin-top: 20px;
    font-size: 26px;
  }

  .text-2 {
    margin-top: 8px;
    font-size: 26px;
  }

  .text-3 {
    margin-top: 6px;
    font-size: 0.769em;
  }
}

@media(max-width: 284px) {
  body {
    font-size: 0.75em;
  }

  .email {
    position: relative;
    z-index: 4;
    width: 79.9295774647%;
    margin-top: 18px;
    margin-left: 9.84265%;
    font-size: 1.25em;
  }

  .image {
    height: auto;
  }

  .submit {
    position: relative;
    z-index: 5;
    width: 80.2816901408%;
    margin-top: 0;
    margin-left: 9.84265%;
    font-size: 1.25em;
  }

  .text {
    margin-left: 9.9967%;
  }

  .image-1 {
    width: 193px;
    margin-top: 12px;
    margin-left: 16.79688%;
  }

  .image-2 {
    position: relative;
    clear: both;
    z-index: 6;
    width: 284px;
    margin-top: 23px;
  }

  .image-3 {
    position: relative;
    z-index: 7;
    width: 81px;
    margin-top: -93px;
    margin-left: 36.4%;
  }

  .text-1 {
    margin-top: 23px;
    font-size: 12px;
  }

  .text-2 {
    margin-top: 0;
    font-size: 12px;
  }

  .text-3 {
    margin-top: 11px;
    font-size: 1em;
  }
}